.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  button {
    margin-top: 10px;
  }
}
.popupbackground {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
.note {
  display: flex;
  flex-direction: column;
  background-color: rgb(36, 43, 57);
  width: 80vw;
  min-width: 300px;
  height: 50vh;
  padding: 20px;
  .popUpTop {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      height: 30px;
      border: 2px solid azure;
      border-radius: 10px;
      padding: 4px 12px 4px 12px;
      text-align: center;
    }
  }
  .mainDiv {
    display: flex;
    height: 60vh;
    justify-content: space-around;
    overflow-y: scroll;
  }
  @media (max-width: 900px) {
    .mainDiv {
      flex-direction: column;
    }
  }
}

.configRow {
  height: 100%;
  //   min-width: 300px;
  //   max-width: 300px;
}
.configRow2 {
  width: 500px;
  height: 90%;
}
.liBtnPad {
  button {
    margin-right: 10px;
  }
}
.configMember {
  height: auto;
  width: 40%;
  background-color: rgb(21, 25, 34);
  div {
    display: flex;
    justify-content: space-between;
    input {
      width: 200px;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 6px;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
.imgSubDiv {
  background-color: rgb(75, 1, 75);
  height: 30px;
}
.pickMember {
  height: 92%;
  overflow-y: scroll;
  li:nth-child(even) {
    background-color: rgb(54, 54, 170);
  }
  li:nth-child(odd) {
    background-color: rgb(31, 31, 104);
  }
}
.selectedMember {
  height: 100%;
  overflow-y: scroll;
  li:nth-child(even) {
    background-color: rgb(54, 170, 85);
  }
  li:nth-child(odd) {
    background-color: rgb(28, 93, 45);
  }
}
